<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru"
>
<head>
    <title>Пользователи</title>
</head>
<body>
<div th:replace="~{includes/links.html :: div}"></div>
<div class="navbar">
    <nav th:replace="~{includes/navbar.html :: nav}"></nav>
</div>
<div class="container-fluid well text-center">
    <div class="panel-body">
        <h1>Таблица "Пользователи"</h1>
    </div>
</div>

<div class="container-fluid text-center">
<!--    <form th:action="${'/restUsers/addUser'}" th:method="get">-->
<!--        <input class="btn btn-outline-primary" role="button" type="submit" th:value="${'Добавить нового пользователя'}"/>-->
<!--    </form>-->
    <br>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Логин </th>
            <th scope="col">Пароль</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="tempUser : ${users}">
            <th class="align-middle" th:text="${tempUser.id}"></th>
            <th class="align-middle" th:text="${tempUser.login}"></th>
            <th class="align-middle" th:text="${tempUser.password}"></th>
            <th class="align-middle">
                <div class="row justify-content-around">
                    <div class="col">
                        <form th:object="${user}" th:method="post" th:action="${'/restUsers/editUser'}">
                            <input th:text="${user.setId(tempUser.id)}" th:hidden="true" th:field="*{id}"/>
                            <input class="btn btn-outline-info" role="button" type="submit" th:value="${'Редактировать'}"/>
                        </form>
                    </div>
                    <div class="col">
                        <form th:object="${user}" th:method="post" th:action="${'/restUsers/deleteUser'}">
                            <input th:text="${user.setId(tempUser.id)}" th:hidden="true" th:field="*{id}"/>
                            <input th:onclick = "if ((confirm('Удалить пользователя: '+/*[[${tempUser.login}]]*/+'?'))) return true; return false;" class="btn btn-outline-danger" role="button" type="submit" th:value="${'Удалить'}"/>
                        </form>
                    </div>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>